                            <div class="btn-container m60" style="width:1350px">
                              <a href="index.html" class="active wow fadeInLeft">메인으로 돌아오기</a>
                              <a href="subscribe.html" class=" wow fadeInLeft">낙서하기</a>
                              <a href="contact.html" class="wow fadeInRight">자신을 소개하기</a>
                              <a href="second.html" class="wow fadeInRight">두번째 과제</a>
                              <a href="anything.html" class="wow fadeInRight">연습용</a>
                              <a href="anything2.html" class="wow fadeInRight">연습용2</a>
                              <a href="yahoo" class="wow fadeInRight">4번째 과제</a>
                              <a href="fifth_index" class="wow fadeInRight">5번째 과제</a>
                              <a href="face_index" class="wow fadeInRight">얼굴인식</a>
                              <a href="cafe_index" class="wow fadeInRight">리플</a>
                              <a href="vr_main" class="wow fadeInRight">VR</a>
  
                            </div>
                            <div class="copyright text-center white ">
                              <p>&copy; Designed by 
                                  <a href="https://www.behance.net/towkirbappy" target="_blank">Bappy</a> and developed by 
                                  <a href="https://www.behance.net/esrat91" target="_blank">Themeturn    </a></p>
                                 Copied by <a href="http://www.likelion.net/" target="_blank">Chu</a> 
                              <p>Copyright reserved to both.2015 </p>
                            </div>
                            <div class="wrapper"> 
                                <header id="header" class="parallax1">
                                    <div class="container">
                                        <div class="row ">
                                            <div class="wrapper-inner text-center">
                                                
                                            </div> <!-- wrapper-inner end -->
                                        </div> <!-- main-conainer end -->
                                    </div> <!-- container-fluid end -->
                                </header>
                            </div>                    
