<!DOCTYPE html>
<html lang="en">
  <head>
      <title>소개 페이지</title>
  </head>
  <body>
    <div class="wrapper">    
        <header id="header" class="parallax1">
            <div class="container">
                <div class="row ">
                    <div class="wrapper-inner text-center">
                        <h2 class="title">자신을 소개하기</h2>
                        <div class="contact-inner">
                            <form class="contact-form">
                                <div class="col-md-6">
                                    <input type="text" class="form-control wow bounceInLeft" placeholder="본인 이름">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control wow bounceInLeft" placeholder="본인의 이메일">
                                </div>

                                <div class="col-md-12 ">
                                    <textarea class="form-control" cols="30" rows="6" placeholder="소개글"></textarea>
                                </div>
                                <div class="btn-container col-md-12 text-center submit">
                                    <a href="#" class=" wow bounceInLeft" >확인</a>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
        
                    </div>
                </div>
            </div>
        </header>    
    </div>

  </body>
</html>