<!DOCTYPE html>
<html lang="en">
    <head>
        <title>추정호의 웹페이지</title>
    </head>
    <body>
        <div class="wrapper">
            <header id="header" class="parallax1">
                <div class="container">
                    <div class="row ">
                        <div class="wrapper-inner text-center">
                            <div class="heading-content">
                                <h2 class="title wow bounceInLeft" >안녕하세요.</h2>
                                <p class="wow bounceInRight" data-wow-delay=".3s">동국대학교 정보통신공학과 추정호입니다. <br> 아이디어 톤까지 </p>
                            </div>
                            <!-- start timer, reference to js/countdown.js -->
                            <div id="timer" class=" wow flipInY"></div>
                            <!-- end timer -->
                            <div class="heading-content">
                                <p class="wow bounceInRight" data-wow-delay=".3s">만큼 남았습니다. <br> 모두들 힘내세요. </p>
                            </div>
                        </div>
                    </div>
                </div>               
            </header>
        </div>
    </body>
</html>