
<div class="btn-container m60" style="width:1350px">
      <a href="try_index.erb" class="active wow fadeInLeft">index</a>
      <a href="try_copy.erb" class="active wow fadeInLeft">구글맵</a>
      <a href="try_data.erb" class="active wow fadeInLeft">데이터1</a>
      <a href="try_data1.erb" class="active wow fadeInLeft">데이터2 </a>
      <a href="try_drag.erb" class="active wow fadeInLeft">드래그</a>
</div>
    
