<!DOCTYPE html>
<html lang="en">
  <head>
    <title>네번째 과제 결과물</title>
  </head>
  <body>
            <h2 style="padding-bottom: 50px;"> 여러분이 쓴 보내는 받는 이의  메일의 주소는</h2>
            <%= @recept %>
            <h2 style="padding-bottom: 50px;"> 여러분이 쓴 보내는 받는 이의  메일의 제목은</h2>
            <%= @title %>
            <h2 style="padding-bottom: 0px;"> 여러분이 쓴 글의 내용은</h2>
            <%= @content %>
            <h2 style="padding-top: 200px;"> </h2>
        <div class="clearfix"></div>
        </header>
  </body>
</html>