<div class="btn-container m60" style="width:1350px">
      <a href="vr_index.erb" class="active wow fadeInLeft">index</a>
      <a href="vr_anime.erb" class="active wow fadeInLeft">anime</a>
      <a href="vr_aframe.erb" class="active wow fadeInLeft">aframe</a>
      <a href="vr_360.erb" class="active wow fadeInLeft">360도 </a>
      <a href="vr_curved.erb" class="active wow fadeInLeft">곡선 박물관형</a>
</div>